View the required <a target="_blank" href="{{assets}}/css/font.css">css</a>.</br>
Go back to the <a href="{{root}}/demo">demo links</a>.<br/>
Go to the <a href="https://github.com/eloone/symbol-typer">github repository</a>.<br/>
If it does'nt work : <a href="https://github.com/eloone/symbol-typer/issues">report an issue</a> (do not call 911).</br>
Also, more about these <a href="https://github.com/eloone/symbol-typer/demo">demo pages</a> <- here.