---
title: symbolTyper - Demo links
---

<h1>
	This is the demo page for the symbolTyper library.
</h1>

<section>
	symbolTyper is a javascript library that lets you type symbols by replacing patterns you define. 
	<p>
	Github repo :
		<a href="https://github.com/eloone/symbol-typer">https://github.com/eloone/symbol-typer</a>
	</p>
</section>
<br/><br/>
<section>
	To test the dependency free library go to the
	<a href="main-demo.html">Main Demo</a>
</section>
<section>
	To test the jQuery plugin of the library go to the
	<a href="jquery-demo.html">jQuery Demo</a>
</section>
<section>
	To view an example use of this library go to the 
	<a href="angular-demo.html">Angular Demo</a>
</section>
	To understand how the typing symbol hack works go to the 
	<a href="prototype.html">Prototype</a>
</section>
