---
title: symbolTyper - jQuery Demo
---

<h1 class="demo-title">
	This is the demo page for the jQuery plugin of the symbolTyper library.
</h1>

{{> demo-page}}

<div class="info">
	View the <a href="{{assets}}/js/main-jquery.js" target="_blank">javascript source code</a> for this demo.<br/>
	{{> links}}
</div>