---
title: symbolTyper - Prototype
---

<h1>
This is the prototype of the typing symbol hack.
</h1>
<p>
This simplified code shows you how the typing symbol hack works. </br>The <a target="_blank" href="ttps://github.com/eloone/symbol-typer">symbolTyper</a> library was built from this prototype and works with the same hacks.</br></br>
+ are replaced by &#xf004</br>
* are replaced by &#xf0e7;
</p>
<input placeholder="Type + or * here." id="target"/>

<div class="prototype">
Bolts count : <span id="boltsCount"></span><br/>
Hearts count : <span id="heartsCount"></span>
</div>

<div class="info">
	View the <a href="{{assets}}/js/prototype.js" target="_blank">javascript source code</a> for this demo.<br/>
	{{> links}}
</div>