<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{page.title}}</title>
{{> common-assets}}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script> 
<script type="text/javascript" src="{{root}}/symbolTyper-jquery.0.1.0.js"></script> 
<script type="text/javascript" src="{{assets}}/js/main-jquery.js"></script>
{{#if development}} 
<script src="//localhost:1300/livereload.js"></script>
{{/if}} 
</head>
<body>
	{{> body }}
</body>
</html>
