<!doctype html>
<html ng-app="symbolApp" lang="en">
<head>
<meta charset="UTF-8">
<title>symbolTyper - Angular Demo</title>
<link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="assets/css/main.css" rel="stylesheet"/>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script> 
<script type="text/javascript" src="../symbolTyper.0.1.0.min.js"></script> 
<script type="text/javascript" src="assets/js/main-angular.js"></script>
 
<script src="//localhost:1300/livereload.js"></script>
 
</head>
<body>
	

<div class="container" ng-controller="linesCtrl">
		<form ng-submit="submitInput()" id="form">
	        <input id="input" ng-model="input" class="input-angular" type="text" placeholder="Type: Friends *****"/>
	    </form>
		<ul class="rows">
	    	<li ng-class-odd="odd" ng-class-even="even" ng-repeat="line in lines track by $index" class="row">
	    		<span class="title">{{line.title}}</span>
	    		<p class="votes">
	    			<i ng-repeat="vote in line.votes" class="stars" ng-class="{true: 'fa-star-o', false: 'fa-star'}[vote.empty]" ></i>
	    		</p>
	    	</li>
	    	<li class="row">
	    		<span class="title">Gilmore girls</span>
	    		<p class="votes">
	    			<i class="ng-scope stars fa-star"></i>
	    			<i class="ng-scope stars fa-star"></i>
	    			<i class="ng-scope stars fa-star"></i>
	    			<i class="ng-scope stars fa-star"></i>
	    			<i class="ng-scope stars fa-star-o"></i>
	    		</p>
	    	</li>
	    	<li class="row">
	    		<span class="title">Matrix</span>
	    		<p class="votes">
	    			<i class="stars fa-star"></i>
	    			<i class="stars fa-star"></i>
	    			<i class="stars fa-star"></i>
	    			<i class="stars fa-star"></i>
	    			<i class="stars fa-star"></i>
	    		</p>
	    	</li>
	    	<li class="row">
	    		<span class="title">Black Swan</span>
	    		<p class="votes">
	    			<i class="stars fa-star"></i>
	    			<i class="stars fa-star-o"></i>
	    			<i class="stars fa-star-o"></i>
	    			<i class="stars fa-star-o"></i>
	    			<i class="stars fa-star-o"></i>
	    		</p>
	    	</li>
		</ul>
	</div>
</body>
</html>
